@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "fonts";
@import "icomoon";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

// === ASSISTANCE START ===
.assistance {
	@include adaptiv-value("padding-top", 50, 30, 1);
	@include adaptiv-value("padding-bottom", 50, 30, 1);

	.tabs {
		@media screen and (min-width: 767px) {
			display: flex;
			align-items: center;
		}

		&__triggers {
			@media screen and (min-width: 767px) {
				justify-content: flex-start;
				margin: 0 !important;
			}
			@media screen and (max-width: 767px) {
				margin-bottom: 30px !important;
			}
		}
	}

	.title-h2 {
		@include adaptiv-value("margin-bottom", 48, 20, 1);

		@media screen and (min-width: 767px) {
			max-width: 388px;
			text-align: left;
		}
	}

	&__wrapper {
		flex: 1 1 auto;
	}

	.offer {
		&__title {
		}

		&__card {
			padding: 0;
		}

		&__card-inner {
			margin-bottom: 40px;

			&::after {
				bottom: 0;
			}
		}

		&__card-top {
		}

		&__card-logo {
		}

		&__card-phone {
		}

		&__card-bottom {
		}

		&__card-name {
		}

		&__card-image {
		}

		&__content-footer {
			border-top: 0;

			@media screen and (max-width: 767px) {
				justify-content: center;
				padding-top: 10px !important;
			}
			@media screen and (max-width: 450px) {
				align-items: center;
			}
		}

		&__btn {
			@media screen and (max-width: 450px) {
				width: 100%;
			}
		}

		&__price {
			@include adaptiv-value("padding-left", 32, 0, 1);
		}

		&__card-inner-black {
		}
	}
}
// === ASSISTANCE END ===

// === MAIN START ===
.compare {
	overflow: hidden;
	@include adaptiv-value("margin-top", 100, 50, 1);
	@include adaptiv-value("margin-bottom", 100, 50, 1);
	
	&__title {
		text-align: center;
		@include adaptiv-value("margin-bottom", 48, 24, 1);
	}

	&__table {
		table {
			text-align: center;
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			overflow-x: auto;
			scrollbar-width: thin;

			&::-webkit-scrollbar {
				height: 0;
			}

			thead {
				th {
					border-bottom: 1px solid $Grey2;
					padding: 16px 10px;
					font-weight: 600;
					@include adaptiv-font(16, 24, 12, 1);
					color: $Black2;
				}
			}

			tbody {
				td {
					@include adaptiv-font(14, 21, 12, 1);
					border-bottom: 1px solid $Grey2;
				}
			}

			tfoot {
				td {
					font-weight: 600;
					@include adaptiv-font(14, 21, 12, 1);
				}
			}

			tr {
				td:first-child {
					text-align: left;
					padding-left: 0;
				}
				td:last-child {
					padding-right: 0;
				}
			}

			td {
				padding: 20px 10px;
			}
		}
	}

	&__mark {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		margin: 0 auto;

		&::before {
			content: "";
			display: block;
		}
	}

	&__true {
		background-color: $Green;

		&::before {
			flex: 0 0 8px;
			width: 9px;
			height: 7px;
			background: $Green url(../img/icons/compare-true.svg) no-repeat center/contain;
		}
	}

	&__false {
		background-color: $Red;

		&::before {
			flex: 0 0 8px;
			width: 8px;
			height: 8px;
			background: $Red url(../img/icons/compare-false.svg) no-repeat center/contain;
		}
	}
}
// === MAIN END ===

// === MAIN START ===

// === MAIN END ===
