.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $White;
    text-align: center;
    min-height: 48px;
    padding: 12px 30px;
    background-color: $Blue;
    border-radius: 10px;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.3s ease background-color 0s;

    @media screen and (min-width: 992px) {
        &:hover {
            background-color: $Blue2;
        }
    }

    i {
        font-size: 12px;
        margin-right: 8px;
    }
}