.tabs {
	&__triggers {
		display: flex;
		justify-content: center;
	}

	&__triggers-item {
		font-weight: 600;
		@include adaptiv-font(16, 24, 14, 1);
		@include adaptiv-value("padding-left", 40, 30, 1);
		@include adaptiv-value("padding-right", 40, 30, 1);
		@include adaptiv-value("padding-top", 10, 8, 1);
		@include adaptiv-value("padding-bottom", 10, 8, 1);
		color: $Grey2;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s ease all 0s;

		@media screen and (min-width: 992px) {
			&:hover {
				opacity: 0.6;
			}
		}

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: $Grey4;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			transition: 0.3s ease background-color 0s;
		}

		&--active {
			color: $Blue;

			&::after {
				background-color: $Blue;
			}
		}
	}

	&__content {
	}

	&__content-item {
		display: none;
		opacity: 0;
		transition: 0.3s ease all 0s;

		&--active {
			display: block;
			opacity: 1;
		}
	}
}
