// === Sizes ===
$size-container: 1131;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 91px;
$size-header-height-mobile: 55px;

// === Font ===
$fontMain: "Lato";
$fontSecond: "CenturyGothic";
$fontThird: "Roboto";
$fontWeight: 400;
$fontSize: 20;
$fontSizeMobile: 15;
$lineHeight: 32;
$fontColor: #333;
// === Color ===

$Black: #000;
$White: #fff;
$Gray: #333;
$Gray2: #f9f9f9;
$Gray3: #bdbdbd;
$DGray: #4f4f4f;
$DGray2: #828282;
$DBlue: #154b62;
$DBlue2: #203842;
$Cyan: #3196a9;
$Cyan2: #dbe8ec;
$Cyan3: #183741;
