// === Sizes ===
$size-container-fluid: 1226;
$size-container: 1226;
$layoutDesktop: 1280;
$layoutMobile: 320;
$size-header-height: 80px;
$size-header-height-mobile: 50px;

// === Font ===
$fontMain: "Gilroy";
$fontSecond: "Roboto";
$fontWeight: 500;
$fontSize: 16;
$fontSizeMobile: 16;
$lineHeight: 24;
$fontColor: #0f1721;
// === Color ===

$Black: #000;
$Black2: #0f1721;
$White: #fff;
$Grey: #f6f6f7;
$Grey2: #c6c8c9;
$DGrey: #88888a;
$Blue: #3350b5;
$Blue2: #4A62BA;
$LBlue: #f2f5ff;
